In [144]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [145]:
old_datadir = '/content/ItemSales_9-1-2023_9-1-2024.xlsx'
new_datadir = '/content/ItemSales_9-2-2024_10-29-2024.xlsx'
old_pathFile = os.path.join(old_datadir)
new_pathFile = os.path.join(new_datadir)
old_df = pd.read_excel(old_pathFile)
new_df = pd.read_excel(new_pathFile)

In [146]:
print(old_df.head())
print(old_df.tail())

        Date      Time                   Time Zone    Category  \
0 2024-08-31  09:38:56  Eastern Time (US & Canada)         NaN
1 2024-08-29  17:14:45  Eastern Time (US & Canada)  Farm Works
2 2024-08-29  17:14:45  Eastern Time (US & Canada)  Farm Works
3 2024-08-29  17:14:45  Eastern Time (US & Canada)  Farm Works
4 2024-08-29  17:14:45  Eastern Time (US & Canada)  Farm Works

                          Item  Qty                Price Point Name  SKU  \
0      5-Gallon Compost Bucket  1.0                         Regular  NaN
1  Beef Jerky - Hickory Smoked  1.0                           Large  NaN
2                  Lip Therapy  1.0                             Tin  NaN
3                        Beets  1.0  Small Pickled Red Beets, 16 oz  NaN
4               Strawberry Jam  1.0                         Regular  NaN

  Modifiers Applied  Gross Sales  ...               Location  Dining Option  \
0               NaN         35.0  ...  Farmers on the Square            NaN
1               NaN         12.0  ...             Farm Works            NaN
2               NaN          2.5  ...             Farm Works            NaN
3               NaN          6.0  ...             Farm Works            NaN
4               NaN          5.0  ...             Farm Works            NaN

                  Customer ID   Customer Name Customer Reference ID Unit  \
0  XDF087K03Q6B8E942RJC1HVP9M  Stephen Hughes                   NaN   ea
1                         NaN             NaN                   NaN   ea
2                         NaN             NaN                   NaN   ea
3                         NaN             NaN                   NaN   ea
4                         NaN             NaN                   NaN   ea

  Count Itemization Type Fulfillment Note                     Token
0     1    Physical Good              NaN  6IGZOA4EEK7R3MOVEG6ZCA2W
1     1    Physical Good              NaN  UI2SK7RXGKTVZSP7U4S5U5RT
2     1    Physical Good              NaN  YKOZT4OLK5J67FQRWUYQT4AV
3     1    Physical Good              NaN  63O55WJX52THU3CH3ZAXCBTR
4     1    Physical Good              NaN  VN66T5W2ATJXNWEC7XEHCT4Q

[5 rows x 29 columns]
            Date      Time                   Time Zone    Category  \
16336 2023-09-01  11:06:12  Eastern Time (US & Canada)  Soup/Salad
16337 2023-09-01  11:05:24  Eastern Time (US & Canada)  Soup/Salad
16338 2023-09-01  11:04:36  Eastern Time (US & Canada)  Soup/Salad
16339 2023-09-01  11:04:07  Eastern Time (US & Canada)  Farm Store
16340 2023-09-01  11:04:07  Eastern Time (US & Canada)  Soup/Salad

                                                    Item  Qty  \
16336              Soup - Dickinson Student w. Meal Plan  1.0
16337  1/2 Soup - 1/2 Salad - Dickinson Student w. Me...  1.0
16338              Soup - Dickinson Student w. Meal Plan  1.0
16339                                 Beef Jerky - SMOKE  1.0
16340      Soup - Non-Dickinson Student or Non-Meal Plan  1.0

      Price Point Name  SKU Modifiers Applied  Gross Sales  ...    Location  \
16336          Regular  NaN               NaN          3.0  ...  Farm Works
16337          Regular  NaN               NaN          3.0  ...  Farm Works
16338          Regular  NaN               NaN          3.0  ...  Farm Works
16339            Small  NaN               NaN          7.0  ...  Farm Works
16340          Regular  NaN               NaN          5.0  ...  Farm Works

       Dining Option                 Customer ID  Customer Name  \
16336            NaN                         NaN            NaN
16337            NaN                         NaN            NaN
16338            NaN  D6YVPT93JC86M1QQ8XM7XPQ4R8  Hadley Desopo
16339            NaN  7192H4V4CMX48AR6GNENJJWP3W     Sara Galli
16340            NaN  7192H4V4CMX48AR6GNENJJWP3W     Sara Galli

      Customer Reference ID Unit Count Itemization Type Fulfillment Note  \
16336                   NaN   ea     1    Physical Good              NaN
16337                   NaN   ea     1    Physical Good              NaN
16338                   NaN   ea     1    Physical Good              NaN
16339                   NaN   ea     1    Physical Good              NaN
16340                   NaN   ea     1    Physical Good              NaN

                          Token
16336  AICC5MG4FOI3TUB5AY3BZ56B
16337  AMPTL7VEDPUS4UQ5WZHE22SB
16338  AICC5MG4FOI3TUB5AY3BZ56B
16339  UUFDSYQ3C7EWT72TSC26O33V
16340  FS3KUKFBMGFUYW7BYAAVUTDK

[5 rows x 29 columns]

In [147]:
print(old_df['Date'].head())
print(old_df['Date'].tail())
print(new_df['Date'].head())
print(new_df['Date'].tail())

0   2024-08-31
1   2024-08-29
2   2024-08-29
3   2024-08-29
4   2024-08-29
Name: Date, dtype: datetime64[ns]
16336   2023-09-01
16337   2023-09-01
16338   2023-09-01
16339   2023-09-01
16340   2023-09-01
Name: Date, dtype: datetime64[ns]
0   2024-10-29
1   2024-10-29
2   2024-10-29
3   2024-10-29
4   2024-10-29
Name: Date, dtype: datetime64[ns]
4645   2024-09-02
4646   2024-09-02
4647   2024-09-02
4648   2024-09-02
4649   2024-09-02
Name: Date, dtype: datetime64[ns]

In [148]:
# Reversing rows in ascending time values
old_df = old_df[::-1].reset_index(drop=True)

In [149]:
old_df[['Date','Time']].head()

        Date      Time
0 2023-09-01  11:04:07
1 2023-09-01  11:04:07
2 2023-09-01  11:04:36
3 2023-09-01  11:05:24
4 2023-09-01  11:06:12

### 7. Describing Categorical Attribtues

In [150]:
print(old_df.columns)

Index(['Date', 'Time', 'Time Zone', 'Category', 'Item', 'Qty',
       'Price Point Name', 'SKU', 'Modifiers Applied', 'Gross Sales',
       'Discounts', 'Net Sales', 'Tax', 'Transaction ID', 'Payment ID',
       'Device Name', 'Notes', 'Details', 'Event Type', 'Location',
       'Dining Option', 'Customer ID', 'Customer Name',
       'Customer Reference ID', 'Unit', 'Count', 'Itemization Type',
       'Fulfillment Note', 'Token'],
      dtype='object')

In [151]:
# Value Counts for Categorical Columns

#Print the value counts for categorical columns
for col in old_df.columns:
  if old_df[col].dtype == 'object':
    print('\nColumn Name:', col,)
    print(old_df[col].value_counts())
    print()

Column Name: Time
Time
12:24:40    16
18:34:30    16
15:11:57    14
11:35:19    13
15:05:51    13
            ..
12:53:04     1
13:02:14     1
13:17:22     1
13:18:29     1
09:38:56     1
Name: count, Length: 7803, dtype: int64


Column Name: Time Zone
Time Zone
Eastern Time (US & Canada)    16341
Name: count, dtype: int64


Column Name: Category
Category
Soup/Salad         12160
Farm Store          1728
Pizza                326
Beef                 116
Bookstore items       13
Eggs                   6
Farm Works             6
Name: count, dtype: int64


Column Name: Item
Item
1/2 Soup - 1/2 Salad - Dickinson Student w. Meal Plan            4714
Soup - Dickinson Student w. Meal Plan                            3118
Salad - Dickinson Student w. Meal Plan                           1989
Custom Amount                                                    1960
1/2 Soup - 1/2 Salad - Non Dickinson Student or Non-Meal Plan     637
                                                                 ...
Fresh Greens, 1/2 Lb. Bag                                           1
T shirt scarf                                                       1
Eggs, Half Dozen                                                    1
Eggs, half                                                          1
5-Gallon Compost Bucket                                             1
Name: count, Length: 114, dtype: int64


Column Name: Price Point Name
Price Point Name
Regular                             13371
Small                                 114
Small Salsa                            79
Small Pickled Red Beets, 16 oz         77
Small Kosher Dill Pickles, 16 oz       64
                                    ...
1.5 lbs                                 1
4.1 lbs                                 1
3.6  lbs                                1
0.99-1.04 lbs                           1
Beef Burger Patties                     1
Name: count, Length: 92, dtype: int64


Column Name: SKU
SKU
1            6
3-pack       3
Delmonico    3
2            2
3            2
7            2
6            2
1.1 Flank    1
1 Sirloin    1
Name: count, dtype: int64


Column Name: Modifiers Applied
Modifiers Applied
Requested Beef Cuts: Chuck Roast, hanger steak, Coulotte steak, flank steak, sirloin steak                                                                              1
Requested Beef Cuts: Preference for flat iron, skirt, and flank because we only eat beef in things like stir fry and fajitas. If you have jerky in the box, yes pls!    1
Requested Beef Cuts: Chuck roast                                                                                                                                        1
Requested Beef Cuts: flank steak, NY strip steak, hanger, or delmonica                                                                                                  1
Requested Beef Cuts: Iâ€™m particularly interested in chuck roast, shoulder roast, ground beef, and sirloin steaks if possible. Thanks so much!                         1
Requested Beef Cuts: 2 Flank Steak, 2 Hanger Steak, 2 NY Strip, 4 Sirloin Steak, 2 Skirt Steak.                                                                         1
Name: count, dtype: int64


Column Name: Transaction ID
Transaction ID
qvnKVNQFXEoFMEAqBijs62ueV        16
dpiDmQDTgHTKFBXftjXcvRn1e2OZY    14
tfnqLxOSEsjGbu36dE86OJgyqmQZY    14
5zA1eCUBxNwtJ4KZnRmCP00LcbJZY    13
He4I2u0RHHPEm8Lx77gq3fiBnJHZY    12
                                 ..
pp1mR0jaSQwm5wN9BhscnS1D0OFZY     1
llG3FyGUPQ2NiYFY5tFAUHArIkfZY     1
PuqGmUE7kWSULEyPCdu8uIPca3YZY     1
9ntNJUStt3swVIyvrVspm91p3kXZY     1
Bjg4j9jFl9QSIYsbnDy18F5Au5UZY     1
Name: count, Length: 13077, dtype: int64


Column Name: Payment ID
Payment ID
3HAv1cpvU0z73IMRULwwFAOsuaB      16
77z0FAqbun7IMrlIy8xZ4fdvYqdZY    14
tk1Jpy794WISbUGmKD3vUagVd3DZY    14
fN3WXBBY0oRWUmoyI0q5TicV9cQZY    14
LtwqWW2HtnwwY5s5sBDxqZ6ApeIZY    13
                                 ..
FGyuxTkHzzuyuwdhQqxJB6NittVZY     1
1cZwKKL0zOLfXWz8z46mhLEf95HZY     1
5eZyFD7wKmJTyTIgRghGD6uRNwHZY     1
jNwrTrgvOrPQLq9t6SEcuTDa1lUZY     1
5avAwY55S8huv1AG6IBJnjB3VhEZY     1
Name: count, Length: 13068, dtype: int64


Column Name: Device Name
Device Name
Nataliaâ€™s iPhone        1002
Samantha's iPhone          471
Emily Curtiss              283
Pixel 3                    118
iPhone                      59
Carolineâ€™s iPhone         27
Emily Ladenâ€™s iPhone      12
Natalia                      2
Name: count, dtype: int64


Column Name: Notes
Notes
8 oz soup and a small salad.  Includes a roll/bread.                                                         5350
Delicious soup made with wholesome and organic  ingredients  from the farm. Includes a roll/bread.           3656
Delicious and nutritious salad made with a variety of farm produce and garnishes. Includes a roll/bread.     1989
Delicious and nutritious salad made with a variety of farm produce and garnishes. Includes roll/bread.        282
Pickled Red Beets                                                                                             107
                                                                                                             ...
Project SHARE pickup, Sep. 8                                                                                    1
bulk tomatoes for Friday Sept 8                                                                                 1
Gray                                                                                                            1
For Erin pless                                                                                                  1
4 lbs. of tomatoes                                                                                              1
Name: count, Length: 68, dtype: int64


Column Name: Details
Details
https://app.squareup.com/dashboard/sales/transactions/qvnKVNQFXEoFMEAqBijs62ueV/by-unit/LHY02BZJWD54F        16
https://app.squareup.com/dashboard/sales/transactions/dpiDmQDTgHTKFBXftjXcvRn1e2OZY/by-unit/LHY02BZJWD54F    14
https://app.squareup.com/dashboard/sales/transactions/tfnqLxOSEsjGbu36dE86OJgyqmQZY/by-unit/LYT45DCA02EW0    14
https://app.squareup.com/dashboard/sales/transactions/5zA1eCUBxNwtJ4KZnRmCP00LcbJZY/by-unit/LYT45DCA02EW0    13
https://app.squareup.com/dashboard/sales/transactions/He4I2u0RHHPEm8Lx77gq3fiBnJHZY/by-unit/LYT45DCA02EW0    12
                                                                                                             ..
https://app.squareup.com/dashboard/sales/transactions/pp1mR0jaSQwm5wN9BhscnS1D0OFZY/by-unit/LHY02BZJWD54F     1
https://app.squareup.com/dashboard/sales/transactions/llG3FyGUPQ2NiYFY5tFAUHArIkfZY/by-unit/LHY02BZJWD54F     1
https://app.squareup.com/dashboard/sales/transactions/PuqGmUE7kWSULEyPCdu8uIPca3YZY/by-unit/LHY02BZJWD54F     1
https://app.squareup.com/dashboard/sales/transactions/9ntNJUStt3swVIyvrVspm91p3kXZY/by-unit/LHY02BZJWD54F     1
https://app.squareup.com/dashboard/sales/transactions/Bjg4j9jFl9QSIYsbnDy18F5Au5UZY/by-unit/LYT45DCA02EW0     1
Name: count, Length: 13077, dtype: int64


Column Name: Event Type
Event Type
Payment    16322
Refund        19
Name: count, dtype: int64


Column Name: Location
Location
Farm Works                14056
Farmers on the Square      2080
Dickinson College Farm      205
Name: count, dtype: int64


Column Name: Customer ID
Customer ID
G20VKQ5NTH72QFTGBCW0RM4VKC    48
K2HYZZZ0YFEKX5JJ25EXSKB3FW    48
PTE9XATFCS3A37JK8V9XB1S5GM    43
6808T4FY696NZ3G5HKQJ80KM8R    38
143V5KT3SQA0HVKDTFN7WCPKKR    37
                              ..
KJ6F2GK1HKBEP7JCSYQB0VJ7B8     1
Z8JT6HWC3NBAHPBHYDDCKRPQ6M     1
SC4CMET8P4YPRJB2MACV5AQ42R     1
DX51A0F3QAFVV0QQEZM656FDY0     1
XDF087K03Q6B8E942RJC1HVP9M     1
Name: count, Length: 918, dtype: int64


Column Name: Customer Name
Customer Name
Wei Ren             73
Emily Colby         48
Fiona Williston     46
Janet Denisi        43
Yung Cheng          40
                    ..
Verne Wadel          1
Kathryn Oliviero     1
Emily Pawley         1
Linda Miller         1
Stephen Hughes       1
Name: count, Length: 587, dtype: int64


Column Name: Customer Reference ID
Customer Reference ID
11ec7e048d83e1d2812c0cc47a2b6418    25
11ec6ce2db2bb3298bbe0cc47a2b63e4    25
11ec7261d6ccdd678bbe0cc47a2b63e4    18
11ec5da4784425a48bbe0cc47a2b63e4    16
11eb3e085b9768dba8600cc47a2b6418    14
11eb39b21be81e00a8600cc47a2b6418    13
11ec422e5a5092a5bc2b0cc47a2b6418     9
11ec80a0a19b31d2812c0cc47a2b6418     8
11ec0cec01274ffb88d40cc47a2b6418     8
11ec56a001374365bc2b0cc47a2b6418     6
11ec7e2b2727f7c5812c0cc47a2b6418     6
11eb2acd9189c351a8600cc47a2b6418     6
11ebd4440dca0c4c88d40cc47a2b6418     6
11ec82b42aa89fe5812c0cc47a2b6418     6
11ebd473ba4a507788d40cc47a2b6418     5
11ec593105dbf26bbc2b0cc47a2b6418     5
11ec4230771408c7bc2b0cc47a2b6418     5
11ec7ef243110dc4812c0cc47a2b6418     5
11ec4891d2e669c6bc2b0cc47a2b6418     4
11ec4bd432b2d644bc2b0cc47a2b6418     4
11eb238d267f7bfca8600cc47a2b6418     4
11eba83c8ee5f4b29e100cc47a2b63e4     4
11ec3d850863ab65aebc0cc47a2b63e4     4
11eb7e05e80b7f2d96f20cc47a2b6418     3
11ec3eafb459f8a9aebc0cc47a2b63e4     3
11ebd36de2c62f3f88d40cc47a2b6418     3
11ebda66a6b845f088d40cc47a2b6418     3
11eb97e228b17e9996f20cc47a2b6418     3
11ec848228554f89812c0cc47a2b6418     3
11eb8be95755958596f20cc47a2b6418     3
11ebfed09147283388d40cc47a2b6418     3
11ec628e011f2a728bbe0cc47a2b63e4     3
,                                    2
11ec5567ff8dbe6dbc2b0cc47a2b6418     2
11ec7ee6cc2ebf53812c0cc47a2b6418     2
11ebe4d0c26abeac88d40cc47a2b6418     2
11eb3e2a357de39ca8600cc47a2b6418     2
11ec5382ea7b41b9bc2b0cc47a2b6418     2
11ec7f0242ce9be8812c0cc47a2b6418     2
11eb97e4e71eeed196f20cc47a2b6418     2
11eb248ba56ec003a8600cc47a2b6418     1
11ebd43b7406a44188d40cc47a2b6418     1
11ec48181d610258bc2b0cc47a2b6418     1
11eb3d7eace201a5a8600cc47a2b6418     1
11ec431a3c24e87bbc2b0cc47a2b6418     1
11eb8025f0e3ef1b96f20cc47a2b6418     1
11ec82f9a6ff64a8812c0cc47a2b6418     1
11ec7f24fcf0613f812c0cc47a2b6418     1
11ec4bc8b225ee4dbc2b0cc47a2b6418     1
11ebda67d7a8f91d88d40cc47a2b6418     1
11ec51ef99ea3545bc2b0cc47a2b6418     1
11ec72fbe800833d8bbe0cc47a2b63e4     1
Name: count, dtype: int64


Column Name: Unit
Unit
ea    16296
lb       45
Name: count, dtype: int64


Column Name: Itemization Type
Itemization Type
Physical Good    14364
Name: count, dtype: int64


Column Name: Fulfillment Note
Fulfillment Note
2 lbs of tomatoes                                 1
Pick up at Project Share                          1
20 lbs for pick up at the Farm on Tuesday 9/12    1
Project SHARE pickup, Sep. 8                      1
bulk tomatoes for Friday Sept 8                   1
4 lbs. of tomatoes                                1
For Erin pless                                    1
Tenmile Farm Foundation Garlic                    1
Tomatoes                                          1
Name: count, dtype: int64


Column Name: Token
Token
AMPTL7VEDPUS4UQ5WZHE22SB    4714
AICC5MG4FOI3TUB5AY3BZ56B    3118
ZUDK54YI6E5NDZQVZ4MQWD7V    1989
UTJJYIKSS4DNGKBBVRVIB4TW     637
FS3KUKFBMGFUYW7BYAAVUTDK     542
                            ...
RC4LZ7LTKICUYSVCAH3YYZGN       1
2YJZLTKTI5PQIRNOXT3C74WJ       1
BOHEAKP255U7OQB6WWYKQWMM       1
T5LCDJ7LDZ4QHDZDMT2QG4LW       1
6IGZOA4EEK7R3MOVEG6ZCA2W       1
Name: count, Length: 169, dtype: int64

In [152]:
# dropping time_zone
old_df.drop(['Time Zone', 'Price Point Name','SKU','Modifiers Applied','Transaction ID','Payment ID','Device Name','Notes','Details','Dining Option','Customer ID','Customer Name','Customer Reference ID','Unit','Count','Itemization Type','Fulfillment Note','Token'], axis=1, inplace=True)

old_df.head()

,Date,Time,Category,Item,Qty,Gross Sales,Discounts,Net Sales,Tax,Event Type,Location
0,2023-09-01,11:04:07,Soup/Salad,Soup - Non-Dickinson Student or Non-Meal Plan,1.0,5.0,0.0,5.0,0.3,Payment,Farm Works
1,2023-09-01,11:04:07,Farm Store,Beef Jerky - SMOKE,1.0,7.0,0.0,7.0,0.0,Payment,Farm Works
2,2023-09-01,11:04:36,Soup/Salad,Soup - Dickinson Student w. Meal Plan,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works
3,2023-09-01,11:05:24,Soup/Salad,1/2 Soup - 1/2 Salad - Dickinson Student w. Me...,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works
4,2023-09-01,11:06:12,Soup/Salad,Soup - Dickinson Student w. Meal Plan,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works

In [153]:
# Convert Date and Time columns into timestamp
# Ensure 'Date' and 'Time' are in string format before combining
old_df['Date'] = old_df['Date'].astype(str)  # Convert to string if not already
old_df['Time'] = old_df['Time'].astype(str)  # Convert to string if not already
old_df['timestamp'] = pd.to_datetime(old_df['Date'] + ' ' + old_df['Time'])

# Reorder to the first column
cols = old_df.columns.tolist()
cols = cols[-1:] + cols[:-1]
old_df = old_df[cols]
old_df.head()

,timestamp,Date,Time,Category,Item,Qty,Gross Sales,Discounts,Net Sales,Tax,Event Type,Location
0,2023-09-01 11:04:07,2023-09-01,11:04:07,Soup/Salad,Soup - Non-Dickinson Student or Non-Meal Plan,1.0,5.0,0.0,5.0,0.3,Payment,Farm Works
1,2023-09-01 11:04:07,2023-09-01,11:04:07,Farm Store,Beef Jerky - SMOKE,1.0,7.0,0.0,7.0,0.0,Payment,Farm Works
2,2023-09-01 11:04:36,2023-09-01,11:04:36,Soup/Salad,Soup - Dickinson Student w. Meal Plan,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works
3,2023-09-01 11:05:24,2023-09-01,11:05:24,Soup/Salad,1/2 Soup - 1/2 Salad - Dickinson Student w. Me...,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works
4,2023-09-01 11:06:12,2023-09-01,11:06:12,Soup/Salad,Soup - Dickinson Student w. Meal Plan,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works

In [154]:
# Creating day_name column and reorder next to Time column
old_df['day_name'] = old_df['timestamp'].dt.day_name()
cols = old_df.columns.tolist()
cols.insert(2, cols.pop(cols.index('day_name')))
old_df = old_df[cols]
old_df.head()

,timestamp,Date,day_name,Time,Category,Item,Qty,Gross Sales,Discounts,Net Sales,Tax,Event Type,Location
0,2023-09-01 11:04:07,2023-09-01,Friday,11:04:07,Soup/Salad,Soup - Non-Dickinson Student or Non-Meal Plan,1.0,5.0,0.0,5.0,0.3,Payment,Farm Works
1,2023-09-01 11:04:07,2023-09-01,Friday,11:04:07,Farm Store,Beef Jerky - SMOKE,1.0,7.0,0.0,7.0,0.0,Payment,Farm Works
2,2023-09-01 11:04:36,2023-09-01,Friday,11:04:36,Soup/Salad,Soup - Dickinson Student w. Meal Plan,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works
3,2023-09-01 11:05:24,2023-09-01,Friday,11:05:24,Soup/Salad,1/2 Soup - 1/2 Salad - Dickinson Student w. Me...,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works
4,2023-09-01 11:06:12,2023-09-01,Friday,11:06:12,Soup/Salad,Soup - Dickinson Student w. Meal Plan,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works

In [155]:
# Make separate column for empanadas (categorical) and 1 for Wednesdays
old_df['Empanadas'] = old_df['day_name'].apply(lambda x: 1 if 'Wednesday' in x else 0)

In [156]:
# Checking if Wednesdays have 1 in empanadas column
print(old_df['Empanadas'].value_counts())
print(old_df['day_name'].value_counts())

Empanadas
0    10267
1     6074
Name: count, dtype: int64
day_name
Wednesday    6074
Friday       3247
Monday       2453
Tuesday      2200
Thursday     2080
Saturday      249
Sunday         38
Name: count, dtype: int64

## Clean new_df

In [157]:
# Reversing rows in ascending time values
new_df = new_df[::-1].reset_index(drop=True)
new_df.head()

,Date,Time,Time Zone,Category,Item,Qty,Price Point Name,SKU,Modifiers Applied,Gross Sales,...,Location,Dining Option,Customer ID,Customer Name,Customer Reference ID,Unit,Count,Itemization Type,Fulfillment Note,Token
0,2024-09-02,11:01:14,Eastern Time (US & Canada),Soup/Salad,1/2 Soup - 1/2 Salad - Dickinson Student w. Me...,1.0,Regular,NaN,NaN,3.0,...,Farm Works,NaN,NaN,NaN,NaN,ea,1,Physical Good,NaN,AMPTL7VEDPUS4UQ5WZHE22SB
1,2024-09-02,11:01:53,Eastern Time (US & Canada),Soup/Salad,1/2 Soup - 1/2 Salad - Dickinson Student w. Me...,1.0,Regular,NaN,NaN,3.0,...,Farm Works,NaN,NaN,NaN,NaN,ea,1,Physical Good,NaN,AMPTL7VEDPUS4UQ5WZHE22SB
2,2024-09-02,11:06:26,Eastern Time (US & Canada),Soup/Salad,Soup - Dickinson Student w. Meal Plan,1.0,Regular,NaN,NaN,3.0,...,Farm Works,NaN,NaN,NaN,NaN,ea,1,Physical Good,NaN,AICC5MG4FOI3TUB5AY3BZ56B
3,2024-09-02,11:06:50,Eastern Time (US & Canada),Soup/Salad,Soup - Dickinson Student w. Meal Plan,1.0,Regular,NaN,NaN,3.0,...,Farm Works,NaN,NaN,NaN,NaN,ea,1,Physical Good,NaN,AICC5MG4FOI3TUB5AY3BZ56B
4,2024-09-02,11:08:07,Eastern Time (US & Canada),Soup/Salad,1/2 Soup - 1/2 Salad - Dickinson Student w. Me...,1.0,Regular,NaN,NaN,3.0,...,Farm Works,NaN,NaN,NaN,NaN,ea,1,Physical Good,NaN,AMPTL7VEDPUS4UQ5WZHE22SB

In [158]:
print(new_df.columns)

Index(['Date', 'Time', 'Time Zone', 'Category', 'Item', 'Qty',
       'Price Point Name', 'SKU', 'Modifiers Applied', 'Gross Sales',
       'Discounts', 'Net Sales', 'Tax', 'Transaction ID', 'Payment ID',
       'Device Name', 'Notes', 'Details', 'Event Type', 'Location',
       'Dining Option', 'Customer ID', 'Customer Name',
       'Customer Reference ID', 'Unit', 'Count', 'Itemization Type',
       'Fulfillment Note', 'Token'],
      dtype='object')

In [159]:
# Value Counts for Categorical Columns

#Print the value counts for categorical columns
for col in new_df.columns:
  if new_df[col].dtype == 'object':
    print('\nColumn Name:', col,)
    print(new_df[col].value_counts())
    print()

Column Name: Time
Time
12:44:35    12
11:23:26     7
12:35:50     6
11:25:35     6
12:47:18     6
            ..
11:43:31     1
11:50:24     1
11:51:05     1
11:53:44     1
13:55:54     1
Name: count, Length: 3353, dtype: int64


Column Name: Time Zone
Time Zone
Eastern Time (US & Canada)    4650
Name: count, dtype: int64


Column Name: Category
Category
Soup/Salad         4018
Farm Works          404
Beef                  8
Bookstore items       3
Produce               3
Name: count, dtype: int64


Column Name: Item
Item
1/2 Soup - 1/2 Salad - Dickinson Student w. Meal Plan            2200
Soup - Dickinson Student w. Meal Plan                             757
Salad - Dickinson Student w. Meal Plan                            497
Custom Amount                                                     211
1/2 Soup - 1/2 Salad - Non Dickinson Student or Non-Meal Plan     199
                                                                 ...
Double E Tincture                                                   1
Hot Peppers                                                         1
Popcorn                                                             1
Beef Ground Beef                                                    1
Beef Tri-Tip Steak (2.2 lb)                                         1
Name: count, Length: 87, dtype: int64


Column Name: Price Point Name
Price Point Name
Regular                             4287
Small                                 22
Small Pickled Red Beets (16 oz)       15
Small Salsa                           14
Sweet Italian                         13
Small Kosher Dill Pickles, 16 oz      11
Rainbow Kraut                          9
Tube                                   8
Large Kosher Dill Pickles, 24 oz       7
Large                                  7
large                                  7
Tin                                    7
Small Pickled Red Beets, 16 oz         4
Soap                                   3
20                                     3
Calendula                              3
Yarn                                   3
1.0 lb                                 2
1.2 lbs                                2
Large Pickled Beets (24 oz)            2
Red Kraut                              2
2.2  lbs                               1
0.3 lbs                                1
1.0 lbs                                1
10                                     1
Beef Burger Patties                    1
0.6 lb                                 1
0.7 lb                                 1
Jewelweed                              1
Name: count, dtype: int64


Column Name: SKU
SKU
Delmonico       1
1 Sirloin       1
.3 Flat Iron    1
1.2 Sirloin     1
Name: count, dtype: int64


Column Name: Transaction ID
Transaction ID
TU8wFrd1TKDlScK6TQ6itHovdzLZY    9
2B1Kbf1q9x6ywld5PVXaAc9eV        7
PiwwxuJOr6MmqyYQEoGQ6dGsM5LZY    6
1btL4uJQyhP65uHii4O3lqCSrNFZY    5
KLBm4sI74fi2BKSrMctBzRieV        5
                                ..
44cqGMpEpkKJuNbZP8io0gneV        1
Nzrp12xNhgAHNwXLXdghnUVx725YY    1
1VMkWFIiz7WLXL7Ose78PckNAtHZY    1
FPjLxF7alyFmjPxdjdKGgggKFibZY    1
upDOt0uVZ2T7FM94ut9z19geV        1
Name: count, Length: 4037, dtype: int64


Column Name: Payment ID
Payment ID
dOKHfXKc6oOM0bKZ8s293BdWA4SZY    9
pedqjc3C5whGaTDvgajNdDnCvaB      7
Pb4RN8PsXc0VNSKAkoxFEKXjY1HZY    6
HZl9eREJDFqCzikkHNDNstW5X4FZY    5
lWe4jbEqFjdTQezxseIPvHIluaB      5
                                ..
xqzd4Uh99bygJQ2cHNoXIfN7uaB      1
1Anm6umQqeeOmJUdJFyduXZu9EDZY    1
Ra1IDHFLnAIVPm285Fpbg3dUXQBZY    1
H1v9xG0yYf3DR60o5f2cdz0LFPdZY    1
xcGmIpXoVcs9rf7DPtan3WfWvaB      1
Name: count, Length: 4033, dtype: int64


Column Name: Device Name
Device Name
Emily Curtiss                   104
Emily Curtissâ€™s iPhone (2)     68
Shanti ðŸ’                      52
Shanti                            3
Pixel 3                           2
Name: count, dtype: int64


Column Name: Notes
Notes
8 oz soup and a small salad.  Includes a roll/bread.                                                                                                                                                                       2396
Delicious soup made with wholesome and organic  ingredients  from the farm. Includes a roll/bread.                                                                                                                          877
Delicious and nutritious salad made with a variety of farm produce and garnishes. Includes a roll/bread.                                                                                                                    497
Delicious and nutritious salad made with a variety of farm produce and garnishes. Includes roll/bread.                                                                                                                       79
Refrigerated specialty items                                                                                                                                                                                                 28
Custom made from our grass-fed beef. Small and large size available.                                                                                                                                                         24
Pickled Red Beets                                                                                                                                                                                                            21
Soft set strawberry jam made from our organic farm-grown strawberries.                                                                                                                                                       20
Kosher Dill Pickles                                                                                                                                                                                                          18
Lip balm                                                                                                                                                                                                                     15
A farm favorite - 16 oz                                                                                                                                                                                                      14
A traditional farm favorite - Red Devil Hot Pepper Sauce.  6 oz bottle                                                                                                                                                       12
Regular, Red and Rainbow Sauerkraut available.                                   \nShipping is not available.                                                                                                                11
Assorted styles                                                                                                                                                                                                              10
5oz bottle.\nDelicious hot sauce with a light carrot and roasted garlic flavor.                                                                                                                                               9
New! Made with poblano, jalapeno and serrano peppers.                                                                                                                                                                         8
A natural way to exfoliate your skin.                                                                                                                                                                                         7
Great summer drink mixer made from our organic strawberries.                                                                                                                                                                  7
Reusable Tote Bag with Dickinson logo                                                                                                                                                                                         5
Sweet cantaloupe marmalade.                                                                                                                                                                                                   5
Hand Salve                                                                                                                                                                                                                    4
Delicious organic pizza sauce from the farm.  Great with pasta too!  16 oz.                                                                                                                                                   4
Box of 10 notecards. 5 farm scenes                                                                                                                                                                                            3
Lightly scented soap made from our sheep                                                                                                                                                                                      3
Made from our sheep's wool!                                                                                                                                                                                                   3
Wool Yarn made from our sheep.                                                                                                                                                                                                3
Certified Organic.                                                                                                                                                                                                            3
Canceled Order                                                                                                                                                                                                                2
Accidental Charge                                                                                                                                                                                                             2
Made from recycled T-shirts!                                                                                                                                                                                                  2
Very flavorful cut of meat that can do just about anything! Eat it as a steak, cut up to make tacos or to use in sandwiches or slow cook to shred!                                                                            2
Great drinking cup! Mason jar with lid and straw with Farm Works logo.                                                                                                                                                        2
This cut has aÂ brisket-like, tender texture and is known to be one of the most flavorful parts of the tri-tip beef cut. There is extensive marbling throughout a steak of this cut, giving it an almost buttery taste.       1
One unboxed Farm note card                                                                                                                                                                                                    1
Skirt steak is a meat lover's dream! This thin, quick-cooking cut is loaded with beefy flavor and stays tender and juicy after briefly searing in a hot pan!                                                                  1
Bulk yellow popcorn                                                                                                                                                                                                           1
Boneless ribeye steak - one of the best cuts from our cattle                                                                                                                                                                  1
1.1lb NY Strip                                                                                                                                                                                                                1
Our wonderful ground beef made into quarter pound burger patties. 4 patties per pack.                                                                                                                                         1
Tender steak in single meal sized portions                                                                                                                                                                                    1
Name: count, dtype: int64


Column Name: Details
Details
https://app.squareup.com/dashboard/sales/transactions/TU8wFrd1TKDlScK6TQ6itHovdzLZY/by-unit/LHY02BZJWD54F    9
https://app.squareup.com/dashboard/sales/transactions/2B1Kbf1q9x6ywld5PVXaAc9eV/by-unit/LHY02BZJWD54F        7
https://app.squareup.com/dashboard/sales/transactions/PiwwxuJOr6MmqyYQEoGQ6dGsM5LZY/by-unit/LHY02BZJWD54F    6
https://app.squareup.com/dashboard/sales/transactions/1btL4uJQyhP65uHii4O3lqCSrNFZY/by-unit/LHY02BZJWD54F    5
https://app.squareup.com/dashboard/sales/transactions/KLBm4sI74fi2BKSrMctBzRieV/by-unit/LHY02BZJWD54F        5
                                                                                                            ..
https://app.squareup.com/dashboard/sales/transactions/44cqGMpEpkKJuNbZP8io0gneV/by-unit/LHY02BZJWD54F        1
https://app.squareup.com/dashboard/sales/transactions/Nzrp12xNhgAHNwXLXdghnUVx725YY/by-unit/LHY02BZJWD54F    1
https://app.squareup.com/dashboard/sales/transactions/1VMkWFIiz7WLXL7Ose78PckNAtHZY/by-unit/LHY02BZJWD54F    1
https://app.squareup.com/dashboard/sales/transactions/FPjLxF7alyFmjPxdjdKGgggKFibZY/by-unit/LHY02BZJWD54F    1
https://app.squareup.com/dashboard/sales/transactions/upDOt0uVZ2T7FM94ut9z19geV/by-unit/LHY02BZJWD54F        1
Name: count, Length: 4037, dtype: int64


Column Name: Event Type
Event Type
Payment    4646
Refund        4
Name: count, dtype: int64


Column Name: Location
Location
Farm Works                4433
Farmers on the Square      207
Dickinson College Farm      10
Name: count, dtype: int64


Column Name: Customer ID
Customer ID
EGQTG9D08S0YQFAYE2JDF575FG    11
GWSW688CJN6YH2RY52VV4N908C    11
ACFQ03N1B9YCK662T1EA07CW0C    11
9CDAVD75B51DCEQM3NKV1Y6M2M    11
D19G09SDCN7BKQ2W75X89H4R8C    11
                              ..
ZD7CSH0AMM6PAHPRCNA2Y37SCR     1
VNXRBWGFZS1ZKA6C8QWCF8884R     1
1QJGR6SS4WZSKTW50RS661PRXR     1
QBS4NPRXJM4DY0XKPYYPBKEJNC     1
GACDTDCG1910SF2EEGFW1PCE8R     1
Name: count, Length: 263, dtype: int64


Column Name: Customer Name
Customer Name
Wei Ren             22
Sara Galli          11
S Hart              11
Raisa Zaman         11
Linda Miller        11
                    ..
Sonny Lanzilotta     1
Douglas Lawver       1
Debra Williams       1
Lori Yingst          1
R Nation             1
Name: count, Length: 205, dtype: int64


Column Name: Customer Reference ID
Customer Reference ID
11ec6ce2db2bb3298bbe0cc47a2b63e4    8
11ec5382ea7b41b9bc2b0cc47a2b6418    5
11ec3eafb459f8a9aebc0cc47a2b63e4    4
11ec48181d610258bc2b0cc47a2b6418    3
11eb3e085b9768dba8600cc47a2b6418    3
11eb2acd9189c351a8600cc47a2b6418    2
11ec431a3c24e87bbc2b0cc47a2b6418    1
11eb238d267f7bfca8600cc47a2b6418    1
11ec7ef243110dc4812c0cc47a2b6418    1
11ec4230771408c7bc2b0cc47a2b6418    1
11ec59d3257d318dbc2b0cc47a2b6418    1
11eb97e228b17e9996f20cc47a2b6418    1
Name: count, dtype: int64


Column Name: Unit
Unit
ea    4645
lb       5
Name: count, dtype: int64


Column Name: Itemization Type
Itemization Type
Physical Good                 4435
Prepared Food and Beverage       4
Name: count, dtype: int64


Column Name: Token
Token
AMPTL7VEDPUS4UQ5WZHE22SB    2200
AICC5MG4FOI3TUB5AY3BZ56B     757
ZUDK54YI6E5NDZQVZ4MQWD7V     497
UTJJYIKSS4DNGKBBVRVIB4TW     199
FS3KUKFBMGFUYW7BYAAVUTDK     121
                            ...
GWSQG5XXX4446NV4DXZU7KVW       1
B7CUPPR3QZDMPN3TE6XPFTJV       1
YIJ7LAQELGV3WSXFOYBQI3C4       1
7AVJ7IFDOOTT6XNPUZLJMUDW       1
GPMTGX6XZJHNUTTOZ7RASJPI       1
Name: count, Length: 93, dtype: int64

In [160]:
# dropping time_zone
new_df.drop(['Time Zone', 'Price Point Name','SKU','Modifiers Applied','Transaction ID','Payment ID','Device Name','Notes','Details','Dining Option','Customer ID','Customer Name','Customer Reference ID','Unit','Count','Itemization Type','Fulfillment Note','Token'], axis=1, inplace=True)

new_df.head()

,Date,Time,Category,Item,Qty,Gross Sales,Discounts,Net Sales,Tax,Event Type,Location
0,2024-09-02,11:01:14,Soup/Salad,1/2 Soup - 1/2 Salad - Dickinson Student w. Me...,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works
1,2024-09-02,11:01:53,Soup/Salad,1/2 Soup - 1/2 Salad - Dickinson Student w. Me...,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works
2,2024-09-02,11:06:26,Soup/Salad,Soup - Dickinson Student w. Meal Plan,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works
3,2024-09-02,11:06:50,Soup/Salad,Soup - Dickinson Student w. Meal Plan,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works
4,2024-09-02,11:08:07,Soup/Salad,1/2 Soup - 1/2 Salad - Dickinson Student w. Me...,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works

In [161]:
# Convert Date and Time columns into timestamp
# Ensure 'Date' and 'Time' are in string format before combining
new_df['Date'] = new_df['Date'].astype(str)  # Convert to string if not already
new_df['Time'] = new_df['Time'].astype(str)  # Convert to string if not already
new_df['timestamp'] = pd.to_datetime(new_df['Date'] + ' ' + new_df['Time'])

# Reorder to the first column
cols = new_df.columns.tolist()
cols = cols[-1:] + cols[:-1]
new_df = new_df[cols]
new_df.head()

,timestamp,Date,Time,Category,Item,Qty,Gross Sales,Discounts,Net Sales,Tax,Event Type,Location
0,2024-09-02 11:01:14,2024-09-02,11:01:14,Soup/Salad,1/2 Soup - 1/2 Salad - Dickinson Student w. Me...,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works
1,2024-09-02 11:01:53,2024-09-02,11:01:53,Soup/Salad,1/2 Soup - 1/2 Salad - Dickinson Student w. Me...,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works
2,2024-09-02 11:06:26,2024-09-02,11:06:26,Soup/Salad,Soup - Dickinson Student w. Meal Plan,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works
3,2024-09-02 11:06:50,2024-09-02,11:06:50,Soup/Salad,Soup - Dickinson Student w. Meal Plan,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works
4,2024-09-02 11:08:07,2024-09-02,11:08:07,Soup/Salad,1/2 Soup - 1/2 Salad - Dickinson Student w. Me...,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works

In [162]:
# Creating day_name column and reorder next to Time column
new_df['day_name'] = new_df['timestamp'].dt.day_name()
cols = new_df.columns.tolist()
cols.insert(2, cols.pop(cols.index('day_name')))
new_df = new_df[cols]
new_df.head()

,timestamp,Date,day_name,Time,Category,Item,Qty,Gross Sales,Discounts,Net Sales,Tax,Event Type,Location
0,2024-09-02 11:01:14,2024-09-02,Monday,11:01:14,Soup/Salad,1/2 Soup - 1/2 Salad - Dickinson Student w. Me...,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works
1,2024-09-02 11:01:53,2024-09-02,Monday,11:01:53,Soup/Salad,1/2 Soup - 1/2 Salad - Dickinson Student w. Me...,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works
2,2024-09-02 11:06:26,2024-09-02,Monday,11:06:26,Soup/Salad,Soup - Dickinson Student w. Meal Plan,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works
3,2024-09-02 11:06:50,2024-09-02,Monday,11:06:50,Soup/Salad,Soup - Dickinson Student w. Meal Plan,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works
4,2024-09-02 11:08:07,2024-09-02,Monday,11:08:07,Soup/Salad,1/2 Soup - 1/2 Salad - Dickinson Student w. Me...,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works

In [163]:
# Make separate column for empanadas (categorical) and 1 for Wednesdays
new_df['Empanadas'] = new_df['day_name'].apply(lambda x: 1 if x in ('Tuesday', 'Thursday') else 0)

In [164]:
# Checking if Wednesdays have 1 in empanadas column
print(new_df['Empanadas'].value_counts())
print(new_df['day_name'].value_counts())

Empanadas
0    2343
1    2307
Name: count, dtype: int64
day_name
Thursday     1162
Tuesday      1145
Wednesday     862
Monday        718
Friday        687
Saturday       73
Sunday          3
Name: count, dtype: int64

## Merging Two datasets

In [165]:
# Checking if column matches
print(old_df.columns)
print(new_df.columns)

Index(['timestamp', 'Date', 'day_name', 'Time', 'Category', 'Item', 'Qty',
       'Gross Sales', 'Discounts', 'Net Sales', 'Tax', 'Event Type',
       'Location', 'Empanadas'],
      dtype='object')
Index(['timestamp', 'Date', 'day_name', 'Time', 'Category', 'Item', 'Qty',
       'Gross Sales', 'Discounts', 'Net Sales', 'Tax', 'Event Type',
       'Location', 'Empanadas'],
      dtype='object')

In [166]:
# Check timestamp of head and tail
print(old_df['timestamp'].head())
print(old_df['timestamp'].tail())
print(new_df['timestamp'].head())
print(new_df['timestamp'].tail())

0   2023-09-01 11:04:07
1   2023-09-01 11:04:07
2   2023-09-01 11:04:36
3   2023-09-01 11:05:24
4   2023-09-01 11:06:12
Name: timestamp, dtype: datetime64[ns]
16336   2024-08-29 17:14:45
16337   2024-08-29 17:14:45
16338   2024-08-29 17:14:45
16339   2024-08-29 17:14:45
16340   2024-08-31 09:38:56
Name: timestamp, dtype: datetime64[ns]
0   2024-09-02 11:01:14
1   2024-09-02 11:01:53
2   2024-09-02 11:06:26
3   2024-09-02 11:06:50
4   2024-09-02 11:08:07
Name: timestamp, dtype: datetime64[ns]
4645   2024-10-29 13:10:34
4646   2024-10-29 13:12:22
4647   2024-10-29 13:46:29
4648   2024-10-29 13:49:58
4649   2024-10-29 13:55:54
Name: timestamp, dtype: datetime64[ns]

In [167]:
# Merge old_df and new_df by rows
merged_df = pd.concat([old_df, new_df], ignore_index=True)
print(merged_df['timestamp'].head())
print(merged_df['timestamp'].tail())

0   2023-09-01 11:04:07
1   2023-09-01 11:04:07
2   2023-09-01 11:04:36
3   2023-09-01 11:05:24
4   2023-09-01 11:06:12
Name: timestamp, dtype: datetime64[ns]
20986   2024-10-29 13:10:34
20987   2024-10-29 13:12:22
20988   2024-10-29 13:46:29
20989   2024-10-29 13:49:58
20990   2024-10-29 13:55:54
Name: timestamp, dtype: datetime64[ns]

In [168]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).